@import url('https://fonts.googleapis.com/css2?family=Nova+Script&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Nova Script'
}

:root {
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh; 
    justify-content: center;
    align-items: center;
}

.container {
   
    border: 2px solid black;
    background-color:beige;
    padding: 10px;
    width: 800x;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
   
}

.hide {
    display: none;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn:hover {
    border-color: black;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timerDisplay {
    border: 2px solid black;
    background-color:beige;
    padding: 10px;
    width: 100px;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    position: fixed;
    top: 0;   
}
#scoreDisplay {
    border: 2px solid black;
    background-color:beige;
    padding: 10px;
    width: 100px;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    position: fixed;
    top: 0;
    right: 0;  
}
.wrong {
background-color: red;
}
.correct {
background-color: green;

}